body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    transition: background-color .5s;
}

/* 側邊欄基本樣式 */
.sidebar {
    height: 100%;
    width: 0; /* 預設關閉 */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 側邊欄內的連結 */
.sidebar a {
    padding: 10px 15px 10px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* 關閉按鈕 */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* 開啟按鈕樣式 */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* 主要內容區域 */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
